@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
    font-family: Arial, sans-serif;
}

body {
    background: white;
}

#contenedor {
    border-radius: 1%;
    padding: 2%;
    width: 70%;
    margin: 0 auto;
    background-color: #00c5a2;
    color: aliceblue;
    display: grid;
    grid-template-columns: 5, 1rem;
    margin-top: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #104455;
}