@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
    font-family: "Roboto Slab";
}

body {
    background: white;
}

#portada {
    background-color: #cbfff7;
    border-radius: 1%;
    padding: 2%;
    width: 70%;
    margin: 0 auto;
    color: #104455;
    display: grid;
    grid-template-columns: 5, 1rem;
    margin-top: 15px;
    text-align: center;
    border-width: 6px;
    border-style: solid;
    border-color: #1a9b87;
    font-size: 12px;
}

h1 {
    font-family: "Roboto Slab";
    font-weight:bold;
}
h3 {
    font-family: "Roboto Slab";
    
}
